@using OrderManagementSystem.Domain.Order.OrderItem
@using OrderManagementSystem.Infrastructure.ExtensionMethods
@using OrderManagementSystem.Infrastructure.Security
@model OrderManagementSystem.Models.Order.OrderItemForm



    <td>@Model.OrderItemStatus.GetDisplayName()</td>
    <td>@Model.MenuName</td>
    <td>@Model.ProductCategoryName</td>
    <td>@Model.ProductName</td>
    <td>@Model.Quantity</td>
    <td>@Model.ProductPrice</td>
    <td>
        @if (@Model.OrderItemStatus == OrderItemStatus.Approved && Security.IsUserInRole("cooks"))
        {
            @Html.ActionLink("In preparation", "MarkAsInProgressOrderItem", "RestaurantWorker", new { orderItemId = @Model.OrderItemId }, new { @class = "btn btn-info btn-xs" })
        }
        else if (@Model.OrderItemStatus == OrderItemStatus.InProgressInKitchen && Security.IsUserInRole("cooks"))
        {
            <input type="button" class="btn btn-info btn-xs readyOrderItem" value="Gotowe"/>

        }
        else if (@Model.OrderItemStatus == OrderItemStatus.Ready && Security.IsUserInRole("waiters"))
        {
            <input type="button" class="btn btn-info btn-xs deliveredOrderItem" value="Dostarczone"/>
        }
    </td>


