@using OrderManagementSystem.Domain.Order
@using OrderManagementSystem.Domain.Order.OrderItem
@using OrderManagementSystem.Infrastructure.ExtensionMethods
@model OrderManagementSystem.Models.Order.OrderForm

@{
    ViewBag.Title = "Aktualne zamówienie";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="col-md-12 margin-form ">
    <div class="col-md-8">
        <h4>Aktualny status zamówienia: <b>@Model.OrderStatus.GetDisplayName()</b></h4>
        <h5>Suma zamówienia: <b>@Model.TotalPrice zł</b></h5>
        <h5>Numer stolika: <b>@Model.TableNumber</b></h5>
        <h5>Uwagi: <b>@Model.OrderComments</b></h5>
    </div>
    <div class="col-md-4">
        @if (@Model.OrderStatus == OrderStatus.AssignedToWaiter && @Model.OrderItems.All(x => x.OrderItemStatus == OrderItemStatus.Delivered))
        {
            <p>@Html.ActionLink("Chcę zapłacić.", "WantToPay", "Customer", new { orderId = @Model.OrderId }, new { @class = "btn btn-primary" })</p>
            <p>@Html.ActionLink("Mam ochotę na więcej...", "PlaceOrder", "Customer", new { restaurantId = @Model.RestaurantId }, new { @class = "btn btn-primary" })</p>
        }
        else if (@Model.OrderStatus == OrderStatus.Closed)
        {
            <div class="lead alert"><b>Drogi kliencie,</b><br />kelner za chwilkę do Ciebie podejdzie.</div>
        }
        else if (@Model.OrderStatus == OrderStatus.Open || @Model.OrderStatus == OrderStatus.AssignedToWaiter)
        {
            <p>@Html.ActionLink("Mam ochotę na więcej...", "PlaceOrder", "Customer", new { restaurantId = @Model.RestaurantId }, new { @class = "btn btn-primary" })</p>
        }
        else if (@Model.OrderStatus == OrderStatus.Paid)
        {
            <div class="lead alert"><b>Drogi kliencie,</b><br/> dziękujęmy za skorzystanie z naszych usług.<br/><br/> <b>Zapraszamy ponownie!</b></div>
        }
    </div>
</div>
<div class="col-md-12">
    <fieldset>
        <legend>Twoje aktualne zamówienie</legend>
        <table id="orderItemsTable" class="table table-hover">
            <thead>
            <tr>
                <th>Zdjęcie</th>
                <th>Status</th>
                <th>Kategoria</th>
                <th>Nazwa produktu</th>
                <th>Opis</th>
                <th>Cena</th>
                <th>Ilość</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderItems)
                {
                    <tr class="orderItemRow">
                        <td class="imageInTable"><a href="@item.ProductPhotoUrl" data-toggle="lightbox" data-footer="@item.ProductName"><img src="@item.ProductPhotoUrl" class="img-responsive img-thumbnail" alt="@item.ProductName" /></a></td>
                        <td>@item.OrderItemStatus.GetDisplayName()</td>
                        <td>@item.ProductCategoryName</td>
                        <td>@item.ProductName</td>
                        <td>@item.ProductDescription</td>
                        <td>@item.ProductPrice</td>
                        <td>@item.Quantity</td>
                    </tr>
                }
            </tbody>
        </table>
    </fieldset>
</div>

