@model OrderManagementSystem.Models.Restaurant.RestaurantSearchViewModel

@{
    ViewBag.Title = "Wyszukiwanie restauracji";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="col-md-12">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h2 class="margin-form">Wyszukiwanie restauracji</h2>
        <hr/>
        <div class="row">
                <div class="input-group">
                    @Html.EditorFor(model => model.Criteria.RestaurantNameOrCode, new { htmlAttributes = new { @class = "form-control", @id="searchRestaurant", @placeholder = "Wpisz nazwę lub unikalny kod restauracji..." } })
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
        </div>
    }
</div>
    @if (Model != null)
    {
        <div class="col-md-12 margin-form">
            @if (!Model.Results.Any())
            {
            <div class="alert alert-info">Brak wyników.</div>
            }
            else
            {
            <table id="restaurantSearchResultsTable" class="table table-responsive table-condensed table-hover">
                <tbody>
                    @foreach (var item in Model.Results)
                    {
                        <tr>
                            <td class="imageInTable">
                                <a href="@item.RestaurantPhotoUrl" data-toggle="lightbox" data-footer="@item.RestaurantName">
                                    <img src="@item.RestaurantPhotoUrl" class="img-responsive img-thumbnail" alt="@item.RestaurantName" />
                                </a>
                            </td>
                            <td>
                                <p class="restaurantRow">
                                    <b>@item.RestaurantCode</b> - @item.RestaurantName; @item.RestaurantAddress
                                </p>
                            </td>
                            <td>
                                <a style="text-decoration: none" class="btn-success btn btn-sm " href="@Url.Action("PlaceOrder", "Customer", new {restaurantId = @item.RestaurantId})"><span class="glyphicon glyphicon-ok"></span> Wybierz</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            }
        </div>
    }

<div class="jumbotron margin-form col-md-12">
    <div class="col-md-6">
        <img src="~/Content/icons/logo-color-text.png" class="img-responsive logoInJumbotron" alt="Food Portal"/>
    </div>
    <div class="col-md-offset-1 col-md-5">
        <p class="lead"><b>Witaj kliencie,</b><br/><br/> wygląda na to, że masz ochotę zjeść coś dobrego lub napić się piwa. <br/><br /> Wybierz restaurację, w której aktualnie przebywasz.</p>
        <p>@Html.ActionLink("Kliknij, aby dowiedzieć się więcej.", "Help", "Home", new { area = "" }, new { @class = "btn btn-info pull-right" })</p>    
    </div>
</div>
