@model OrderManagementSystem.Models.Order.RateOrderForm

@{
    ViewBag.Title = "Rate your order";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2 class="margin-form">Rate your order</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.OrderId, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.HiddenFor(model => model.RateStars, new {@id="RateStars"})

        <div class="form-group">
            <div class="col-md-offset-3 col-md-10">
                <input id="input-id" class="rating" data-show-clear="false" data-show-caption="false" data-step="1" data-max="10" data-stars="10" data-min="1">
                <p><b>1 Christmas </b>-very bad; <b>5 stars</b> - medium; <b>10 stars</b> - famously!</p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.LabelFor(model => model.RateDetails, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.RateDetails, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RateDetails, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-5 col-md-10">
                <input type="submit" value="Send a grade" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<script src="~/Scripts/Application/RateOrderController.js"></script>
<script type="text/javascript">
    $(function () {
        var ctrl = new RateOrderController();
        ctrl.init();
    });
</script>
