@model OrderManagementSystem.Models.Product.ProductForm

@{
    ViewBag.Title = "Dodaj nowy produkt";
    Layout = "~/Views/Shared/_RestaurantLayout.cshtml";
}

<h2 class="margin-form">Dodaj nowy produkt</h2>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ProductId, htmlAttributes: new { @class = "control-label col-md-2" })

        <h4>Informacje podstawowe</h4>
        <hr/>

        @if (!String.IsNullOrEmpty(ViewBag.Message))
        {
            <p class="alert alert-danger">@ViewBag.Message</p>
        }

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.ProductName, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProductName, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.ProductName, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.ProductDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProductDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductDescription, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.ProductCategories, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.ProductCategoryId,
                    Model.ProductCategories.Select(x => new SelectListItem { Text = x.ProductCategoryName, Value = Convert.ToString(x.ProductCategoryId) }).ToList(), new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Menus, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.MenuId,
                    Model.Menus.Select(x => new SelectListItem { Text = x.MenuName, Value = Convert.ToString(x.MenuId) }).ToList(), new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.ProductPhotoUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProductPhotoUrl, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductPhotoUrl, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.PercentDiscount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PercentDiscount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PercentDiscount, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <h4>Szczegóły</h4>
        <hr/>

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.ProductDetailsCalories, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.ProductDetailsCalories, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductDetailsCalories, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.ProductDetailsProtein, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.ProductDetailsProtein, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductDetailsProtein, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.ProductDetailsCarbohydrates, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.ProductDetailsCarbohydrates, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductDetailsCarbohydrates, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.ProductDetailsFat, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.ProductDetailsFat, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductDetailsFat, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-5 col-md-10">
                <input type="submit" value="Dodaj nowy produkt" class="btn btn-success" />
            </div>
        </div>
    </div>
}
