@using OrderManagementSystem.Infrastructure.Security

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/all")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" style="padding:0px 0" href="@Url.Action("Index", "Home")"><img style="height: 57px;" src="~/Content/icons/navbar-logo-white-text.png" alt="Food Portal"/></a>
                
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (!Security.IsUserAuthenticated())
                    {
                        <li>@Html.ActionLink("Register", "Register", "Account")</li>
                        <li>@Html.ActionLink("Login", "Login", "Account")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Log out", "Logout", "Account")</li>
                    }
                    <li>@Html.ActionLink("Help", "Help", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
<div class="container body-content">
    @RenderBody()
    <footer>
        @Html.Partial("_Footer")
    </footer>
</div>
    @Html.Partial("_Routes")
</body>
</html>
