<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="30" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/all")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/Content/icons/navbar-logo-white-text.png" alt="Food Portal"/></a>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Panel pracownika", "Index", "RestaurantWorker")</li>
                    <li>@Html.ActionLink("Historia", "History", "RestaurantWorker")</li>
                    <li>@Html.ActionLink("Pomoc", "Help", "Home")</li>
                    <li>@Html.ActionLink("Wyloguj", "Logout", "Account")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            @Html.Partial("_Footer")
        </footer>
    </div>
    @Html.Partial("_Routes")
</body>
</html>


